
{%- load_yaml as base_defaults %}
Debian:
  pkgs:
  - varnish
  repo:
    components:
    - 'varnish-4.0'
RedHat:
  pkgs:
  - varnish
{%- endload %}

{%- set server = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('varnish:server')) %}
