{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['varnish'],
        'repo': {
          'components': 'varnish-4.1',
        },
    },
    'RedHat': {
        'pkgs': ['varnish'],
    },
}, merge=salt['grains.filter_by']({
    'xenial': {
        'pkgs': ['varnish'],
        'repo': {
          'components': 'varnish-4.1',
        },
    },
    'trusty': {
        'pkgs': ['varnish'],
        'repo': {
          'components': 'varnish-4.0',
        },
    },
}, grain='oscodename', merge=salt['pillar.get']('varnish:server'))) %}